/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-mar-2018, 0:39:59
    Author     : Jonathan
*/

.commandlink {
    color: #768d99 !important;
}

.commandlink:hover {
    cursor: pointer;
    color: #2eb0da;
}

.ui-picklist div {
    float: none !important;
}

.ui-picklist .ui-picklist-list {
    width: max-content !important;
    min-width: 250px !important;
}

.ui-picklist .ui-picklist-list .ui-picklist-item table tbody tr td {
    min-width: 150px !important;
}
